<div class="container">
  <mat-form-field  class="form-field" [subscriptSizing]="'dynamic'" [ngStyle]="currentStyles">
    <mat-label>Amount</mat-label>
    <input
      type="number"
      [readonly]="disabled"
      matInput
      [formControl]="amount"
      [errorStateMatcher]="matcher"
      placeholder="10"
    />
    @if (amount.hasError('required') && fieldSize !== 'small') {
    <mat-error>Quantity amount is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <unit-control
    [unitId]="defaultQuantity?.unit"
    [size]="fieldSize"
    (unitChanged)="updateUnitValue($event)"
    [disabled]="disabled"
  ></unit-control>
</div>
