<form [formGroup]="feedForm" (ngSubmit)="saveFeed()">
  <mat-form-field>
    <mat-label>Feed name</mat-label>
    <input
      type="text"
      matInput
      [formControl]="name"
      [errorStateMatcher]="matcher"
      placeholder="Bioten"
    />
    @if (name.hasError('required')) {
    <mat-error>Feed name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Feed category</mat-label>
    <mat-select [formControl]="category" required>
      <mat-option>--</mat-option>
      @for (category of categories; track category) {
      <mat-option [value]="category">{{ category }}</mat-option>
      }
    </mat-select>
    @if (category.hasError('required')) {
    <mat-error>Please choose a feed category</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Feed brand</mat-label>
    <mat-select [formControl]="brand" required>
      <mat-option>--</mat-option>
      @for (brand of $brands(); track brand._id) {
      <mat-option [value]="brand._id">{{ brand.name }}</mat-option>
      }
    </mat-select>
    @if (brand.hasError('required')) {
    <mat-error>Please choose a feed brand</mat-error>
    }
  </mat-form-field>

  <quantity-form (quantityChanged)="this.quantityModel = $event"></quantity-form>

  <mat-form-field>
    <mat-label>Additional notes</mat-label>
    <textarea matInput [formControl]="note"></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    [disabled]="feedForm.invalid || !this.quantityModel"
    disabledInteractive
    matTooltip="Fill required information"
  >
    Save
  </button>
</form>
