<form [formGroup]="feedForm" (ngSubmit)="saveFeed()">
  <mat-form-field>
    <mat-label>Feed name</mat-label>
    <input
      type="text"
      matInput
      [formControl]="name"
      [errorStateMatcher]="matcher"
      placeholder="Bioten"
    />
    @if (name.hasError('required')) {
    <mat-error>Feed name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Feed category</mat-label>
    <mat-select [formControl]="category" required>
      <mat-option>--</mat-option>
      @for (category of categories; track category) {
      <mat-option [value]="category">{{ category }}</mat-option>
      }
    </mat-select>
    @if (category.hasError('required')) {
    <mat-error>Please choose a feed category</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Feed brand</mat-label>
    <mat-select [formControl]="brand" required>
      <mat-option>--</mat-option>
      @for (brand of $brands(); track brand._id) {
      <mat-option [value]="brand._id">{{ brand.name }}</mat-option>
      }
    </mat-select>
    @if (brand.hasError('required')) {
    <mat-error>Please choose a feed brand</mat-error>
    }
  </mat-form-field>

  <section>
    quantity
    <mat-form-field>
      <mat-label>Feed name</mat-label>
      <input
        type="number"
        matInput
        [formControl]="quantity.controls['amount']"
        [errorStateMatcher]="matcher"
        placeholder="10"
      />
      @if (quantity.controls['amount'].hasError('required')) {
      <mat-error>Quantity amount is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Unit</mat-label>
      <mat-select [formControl]="quantity.controls['unit']">
        <mat-option>-- None --</mat-option>
        <mat-optgroup [label]="'Weight-based Units'">
          @for (unit of $weightUnits(); track unit._id) {
          <mat-option [value]="unit._id"
            >{{ unit.name }} ({{ unit.abbreviation }})</mat-option
          >
          }
        </mat-optgroup>
        <mat-optgroup [label]="'Volume-based Units'">
          @for (unit of $volumeUnits(); track unit._id) {
          <mat-option [value]="unit._id"
            >{{ unit.name }} ({{ unit.abbreviation }})</mat-option
          >
          }
        </mat-optgroup>
      </mat-select>
      @if (quantity.controls['unit'].hasError('required')) {
      <mat-error>Please choose the amount unit of measurement</mat-error>
      }
    </mat-form-field>
  </section>

  <mat-form-field>
    <mat-label>Additional notes</mat-label>
    <textarea matInput [formControl]="note"></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    [disabled]="feedForm.invalid"
    disabledInteractive
    matTooltip="Fill required information"
  >
    Save
  </button>
</form>
