.item {
  width: 100%;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align content vertically */
  padding: 10px; /* Add some padding for aesthetics */
  border-bottom: 1px solid #ddd; /* Optional border for separation */

  .info {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;

    align-items: center; /* Align content vertically */
    // justify-content: space-between;
    gap: 20px;

    .name-category {
      white-space: nowrap; /* Prevent text wrapping (optional) */
      overflow: hidden; /* Truncate text if it overflows (optional) */
      text-overflow: ellipsis; /* Add ellipsis (...) for truncation (optional) */
      flex: 1;
    }

    .qt {
      flex: 1;
    }
  }

  button {
  }
}

quantity-form {
  flex-shrink: 0; /* Prevent button from shrinking in flexbox */
  width: 100px;
}
