<div class="item">
  <div class="info">
    <div class="name-category">{{ feed.name }}; {{ feed.category }}</div>

    <quantity-form
      [disableQuantity]="added"
      class="qt"
      [defaultQuantity]="feed.quantity"
      [size]="'small'"
      (quantityChanged)="updateMealPortionQuantity($event)"
    ></quantity-form>
  </div>

  @if (added) {
  <button
    mat-icon-button
    matTooltip="Feed was added"
    aria-label="Feed added check"
    [disabled]="true"
  >
    <mat-icon>playlist_add_check</mat-icon>
  </button>

  }@else {
  <button
    (click)="addPortition()"
    mat-icon-button
    matTooltip="Click to add feed to meal"
    aria-label="Add feed to meal portions icon"
  >
    <mat-icon>playlist_add</mat-icon>
  </button>
  }
</div>
